@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-League: "League Spartan", sans-serif;

  /* Theme 1 (t1) - Backgrounds */
  --color-t1-bg-main: hsl(222, 26%, 31%);
  --color-t1-bg-toggle: hsl(223, 31%, 20%);
  --color-t1-bg-screen: hsl(224, 36%, 15%);

  /* Theme 1 (t1) - Keys */
  --color-t1-key-bg-1: hsl(225, 21%, 49%);
  --color-t1-key-shadow-1: hsl(224, 28%, 35%);
  --color-t1-key-bg-toggle: hsl(6, 63%, 50%);
  --color-t1-key-shadow-2: hsl(6, 70%, 34%);
  --color-t1-key-bg-2: hsl(0, 0%, 90%);
  --color-t1-key-shadow-3: hsl(28, 16%, 65%);

  /* Theme 1 (t1) - Text */
  --color-t1-text-primary: hsl(221, 14%, 31%);
  --color-t1-text-on: hsl(0, 100%, 100%);

  /* Theme 2 (t2) - Backgrounds */
  --color-t2-bg-main: hsl(0, 0%, 90%);
  --color-t2-bg-toggle: hsl(0, 5%, 81%);
  --color-t2-bg-screen: hsl(0, 0%, 93%);

  /* Theme 2 (t2) - Keys */
  --color-t2-key-bg-1: hsl(185, 42%, 37%);
  --color-t2-key-shadow-1: hsl(185, 58%, 25%);
  --color-t2-key-bg-toggle: hsl(25, 98%, 40%);
  --color-t2-key-shadow-2: hsl(25, 99%, 27%);
  --color-t2-key-bg-2: hsl(0, 0%, 90%);
  --color-t2-key-shadow-3: hsl(35, 11%, 61%);

  /* Theme 2 (t2) - Text */
  --color-t2-text-primary: hsl(60, 10%, 19%);
  --color-t2-text-on: hsl(0, 100%, 100%);

  /* Theme 3 (t3) - Backgrounds */
  --color-t3-bg-main: hsl(268, 75%, 9%);
  --color-t3-bg-toggle: hsl(268, 71%, 12%);
  --color-t3-bg-screen: hsl(268, 71%, 12%);

  /* Theme 3 (t3) - Keys */
  --color-t3-key-bg-1: hsl(281, 89%, 26%);
  --color-t3-key-shadow-1: hsl(285, 91%, 52%);
  --color-t3-key-bg-toggle: hsl(176, 100%, 44%);
  --color-t3-key-shadow-2: hsl(177, 92%, 70%);
  --color-t3-key-bg-2: hsl(268, 47%, 21%);
  --color-t3-key-shadow-3: hsl(290, 70%, 36%);

  /* Theme 3 (t3) - Text */
  --color-t3-text-accent: hsl(52, 100%, 62%);
  --color-t3-text-primary: hsl(198, 20%, 13%);
  --color-t3-text-on: hsl(0, 100%, 100%);
}
